.App {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    display: table-cell;
    vertical-align: middle;
}

.title {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 40%;
    top: 28%;
    color: white;
}

@font-face {
    font-family: Trueno;
    src: url(./TruenoBd.otf);
}

.title h1 {
    font-family: 'Trueno';
    font-size: xx-large;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

    position: absolute;
}

.button {
    position: relative; 
    width: 200px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;

    margin: auto;
}

.button p {
    text-align: center;
    font-family: 'Trueno';
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0);
    width: 200px;
    margin: auto;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 0px 4px #666666;
    -moz-box-shadow: 0px 0px 4px #666666;
    box-shadow: 0px 0px 4px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.button p:hover {
    text-shadow: 0px 0px 8px #000000;
    background-color: rgba(0, 0, 0, 0.25);
}

.button:hover {
    cursor: pointer;
}

.modal {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #000;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

.video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
    max-width: 90%;
    max-height: 90%;
}

video {
	left: 50%;
    max-height: 880px;
    max-width: 100%;
}

@media only screen and (max-width: 800px) {
    .title {
        top: 18%;
    }
}

@media only screen and (max-height: 700px) {
	.button {
		top: 25%;
	}
	.title {
		top: 13%;
	}
    .footer {
        display: none;
    }
}

.footer {
    font-family: 'Trueno';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;

    z-index: 10000000;
}
